<section id="current-team-container">
  <div id="current-team-slider-container">
    <div class="current-team-avatar-container">
      <%= image_tag @team.logo, class: "current-team-logo logoname" %>
      <h2 class="current-team-name logoname"><%= @team.name %></h2>
    </div>
  </div>
</section>

<section id="field">

</section>

<section id="last-picks-container">

</section>

<section id="players-list-container">

</section>
